@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

.browsehappy {
  margin: 0.2em 0; 
  background: #ccc; 
  color: #000; 
  padding: 0.2em 0; 
}

.jumbotron {
  margin: 50px auto 0 auto;
}

html {
    position: relative;
    min-height: 100%;
}

//variables

@naranja: #FF9200;
@naranjaoscuro: #BF8230;
@naranjamuyoscuro: #A65F00;
@naranjaclaro: #FFAD40;
@naranjamuyclaro: #FFC373;
@gris: #888;
@grisoscuro: #222;
@grisclaro: #bbb;

//mixins

.bordes (@anchoborde; @colorborde; @radio) {
    border: solid @anchoborde @colorborde;
    -webkit-border-radius: @radio;
    -moz-border-radius: @radio;
    border-radius: @radio;
}

.fuentetitulo {font-family: 'Michroma', sans-serif;}
.fuentecuerpo {font-family: 'Palanquin Dark', sans-serif;}
.acero {margin: 0; padding: 0;}
.pad10 {padding: 10px;}
.padh1 {padding: 0 0 15px 40px;}
.bloque {display: block;}

//codigo
body {
    background: #fff;
    .fuentecuerpo;
}

h1, h2, h3 {
    .fuentetitulo;
}

a {
    background: rgba(0,0,0,0) !important;
    color: @grisoscuro;        
    &:hover {
        color: @gris;
    }
}

a.deco {
    text-decoration: none;
    color: @grisoscuro+@naranjaoscuro;
    background: #fff !important;
    &:hover {
        text-decoration: none;
        color: @naranjamuyoscuro;
        background: @naranjamuyclaro !important;
    };
    &:active {
        text-decoration: none;
        color: @naranjamuyoscuro;
        background: @naranjaclaro;
    };
    &:visited {
        color: @grisoscuro;
    }
}

.botonlogin {
    font-size: 20px;
}

.lineanav {line-height: 50px;}

.navbar {background: rgba(200,200,200,0.8) !important;}

.boton-nav {
    background: #fff;
    color: @grisoscuro;
    .bordes (2px,@gris,4px);
    margin: 5px;
    .fuentetitulo;
    font-size: 1em;
    .bloque;
}

#cuerpoxs {
    padding: 20px;
}

.mtop {
    height: 220px;
}
.mbot {
    height: 350px;
}

.mtopsm {
    height: 90px;
}
.mbotsm {
    height: 150px;
}


.mosaicoh{
    top: 200px;
}

#fondo {
    z-index: -1000;
    position: fixed;
    top: 0;
    min-height: 100%;
}

#cuerpoflotante {
    margin-top: 15%;
    margin-bottom: 120px;
    background: rgba(200,200,200,0.8);
    .bordes (2px,@grisoscuro,10px);
    padding: 10px;
    z-index: 20;
}
footer {
    background: #000;
    border-top: solid 2px @gris;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
}
